*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

/* NAVIGATION */
.navbar{
  width: 85%;
  margin: auto;
}

.navbar-nav{
  list-style-type: none;
  overflow: hidden;
}

.item{
  display: inline-block;
  position: relative;
  padding: 40px 5px;
}

.item-left{

}

.item-center{

}

.item a{
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: 300;
}
